<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/home}">
<head>
    <title>Cadastro de Médico</title>
</head>
<body>
    <section layout:fragment="conteudo">

        <div class="page-header">
            <div class="container-fluid">
                <h1>
                    Cadastro de Médico
                </h1>
            </div>
        </div>

        <div class="container-fluid">
            <form>
                <div class="row">
                    <div class="form-group  col-sm-12">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="nome" autofocus="autofocus"/>
                    </div>
                </div>

                <div class="row">

                    <div class="form-group  col-sm-4" >
                        <label for="crm">CRM</label>
                        <input type="text" class="form-control" id="crm"/>
                    </div>

                    <div class="form-group  col-sm-4">
                        <label for="especialista">Especialista</label>
                        <select id="especialista" class="form-control">
                            <option value="">Selecione o especialista</option>
                        </select>
                    </div>

                    <div class="form-group  col-sm-4">
                        <label for="local">Local de Atendimento</label>
                        <select id="local" class="form-control">
                            <option value="">Selecione o Local</option>
                        </select>
                    </div>


                </div>

                <div class="row">
                    <div class="form-group  col-sm-4">
                        <label for="telefone">Telefone</label>
                        <input type="text" class="form-control" id="telefone"/>
                    </div>

                    <div class="form-group  col-sm-8">
                        <label for="email">E-mail</label>
                        <input type="text" class="form-control" id="email"/>
                    </div>
                </div>




                <button type="submit" class="btn  btn-primary">Salvar</button>
            </form>
        </div>
    </section>
</body>
</html>