.av-table-conveniada-col-id {
    width: 90px;
    text-align: center;
}
.av-table-conveniada-col-nome {
    width: 400px;
}

.av-table-conveniada-col-telefone {
    width: 200px;
    text-align: center;
}

.av-table-conveniada-col-cnpj {
    width: 200px;
    text-align: center;
}
.av-table-conveniada-col-insc {
    width: 150px;
    text-align: center;
}

.av-table-conveniada-col-icons {
    width: 60px;
    text-align: center;

}